<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5c47a7c (landing page style part 1)
=======
>>>>>>> 23e419c (moar landing page styling and sign in page styling)
.footer {
    width: fit-content;
    padding-block: 5.5rem;
=======
.footer > p {
    width: fit-content;
    margin-block: 5.5rem;
<<<<<<< HEAD
>>>>>>> bf30351 (landing page style part 1)
=======
.footer {
    width: fit-content;
    padding-block: 5.5rem;
>>>>>>> bcd5f65 (moar landing page styling and sign in page styling)
=======
>>>>>>> c6bc717 (landing page style part 1)
<<<<<<< HEAD
>>>>>>> 5c47a7c (landing page style part 1)
=======
=======
.footer {
    width: fit-content;
    padding-block: 5.5rem;
>>>>>>> a7557ab (moar landing page styling and sign in page styling)
>>>>>>> 23e419c (moar landing page styling and sign in page styling)
    margin-inline: auto;
}
