.form-styles__container {
    margin: 1.5rem auto; 
    width: min(480px, 88%);
}

.form-styles__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.artist-form-input-box {
    border: 1px solid black;
}
