/* Styling for all Artists Pages */

.artist-btn {
    color: beige;
    border: 1px solid black;
}


/* Artist Index Page */
.artist-index-container {
    display: flex;
    flex-direction: row;
    background-color: var(--color-form-bg);
    border: 1px solid black;
    width: 90%;
    height: 15rem;
    margin: 3rem 1.5rem;
    
    
    
}
.artist-index-container p {
    font-size: 20px;
}

.artist-index-head {
    margin: 2em;
}

.artist-index-img {
    width: 13rem;
    margin: 1rem;
}
.artist-index-container-info {
    margin: 1rem 0 0 0;
    
}

.artist-index-icons {
    margin: 1.5rem 2rem;
    align-self: flex-start;
}

/* Artist Show Page */

.artist-show-info {
    /* all info items */
    margin: 2rem;
}

.artist-show-items {
    /* individual items */
    padding: .2rem;
}





