/* Styling for all Artists Pages */

.artist-btn {
    border: 1px solid black;
}


/* Artist Index Page */
.artist-index-container {
    display: flex;
    flex-direction: row;
    background-color: var(--color-form-bg);
    border: 1px solid black;
    width: 100%;
    height: 15rem;
    margin: 3rem 0;
    
    
    
}
.artist-index-container p {
    font-size: 20px;
}

.artist-index-head {
   display: flex;
   justify-content: space-between;
   
}
.title-container{
    display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   padding-right: 1rem;
}

.artist-index-img {
    width: 13rem;
    margin: 1rem;
}
.artist-index-container-info {
    margin: 1rem 0 0 0;
    width: 100%;
}

.artist-index-icons {
    display: flex;
    align-items: center;
    gap: .5rem;
   
}

/* Artist Show Page */

.artist-show-info {
    /* all info items */
    margin: 2rem;
}

.artist-show-items {
    /* individual items */
    padding: .2rem;
}





