.gallery-index__hero {
    position: relative;
}

.gallery-index__hero-image {
    max-width: 100%;
}

.gallery-index__hero-icons {
    margin-top: 2rem;
    align-items: center;
    justify-content: space-around;
}

.gallery-index__main-container {
    width: min(640px, 97%);
    margin-inline: auto;
}

.gallery-index__gallery-image {
    max-width: 100%;
    object-fit: scale-down;
}

@media (min-width: 640px) {
    .gallery-index__hero-icons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        align-items: center;
        justify-content: space-around;
        color: white;
    }
}
