.gallery-index__hero {
    position: relative;
}

.gallery-index__hero-image {
    max-width: 100%;
}

.gallery-index__hero-icons {
    margin-top: 2rem;
    align-items: center;
    justify-content: space-around;
}

.gallery-index__main-container {
    width: min(640px, 97%);
    margin-inline: auto;
}

.gallery-index__gallery-image {
    max-width: 100%;
    object-fit: scale-down;
    margin-top: 10px;
}

@media (min-width: 640px) {
    .gallery-index__hero-icons {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        z-index: 10;
        align-items: center;
        justify-content: space-around;
        color: white;
    }
}

.gh-main-container{

    margin-top: 70px;

}

.recommended{

font-size: 3rem;
padding-bottom: 100px;
font-weight: bold;
text-align: center;
}

.galleryName:focus, .galleryName:hover{

    margin-bottom: 10px;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  color: var(--color);
  background: none;
}


   


