.show-gallery__curator-interface {
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.show_gallery__gallery-container {
    text-align: center;
}

.show-gallery__gallery-name,
.show-gallery__gallery-location,
.show-gallery__gallery-description {
    margin-top: 20px;
}

.show-gallery__gallery-hero-img img {
    max-width: 100%;
}

.show-gallery__links-container {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    gap: 1rem;
}
